.navigation {
  width: 30%;
  height: 100%;
  position: absolute;
  left: -30%;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
  background-color: var(--dark);
  padding: 40px;
  font-family: 'Finger Paint', cursive;
}

.navigation.active {
  left: 0;
}

.navigation .menu-btn {
  cursor: pointer;
  position: absolute;
  right: -60px;
  top: 30px;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.navigation.active .menu-btn {
  right: 30px;
}

.navigation .menu-btn .bar1,
.navigation .menu-btn .bar2,
.navigation .menu-btn .bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--primaryColor);
  margin: 6px 0;
  transition: all 0.5s ease-in-out;
  border-radius: var(--borderCorner);
}

.navigation.active .menu-btn .bar1,
.navigation.active .menu-btn .bar2,
.navigation.active .menu-btn .bar3 {
  background-color: var(--white);
}

.navigation.active .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 5px);
  transform: rotate(-45deg) translate(-7px, 5px);
}

.navigation.active .bar2 {
  opacity: 0;
}

.navigation.active .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -5px);
  transform: rotate(45deg) translate(-7px, -5px);
}

.navigation nav {
  width: 100%;
  height: 100%;
}

.navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navigation ul li {
  width: 100%;
  text-align: center;
}

.navigation ul p {
  padding: 5px 15px;
  color: var(--white);
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
}

.navigation ul p:hover,
.navigation ul p.active {
  color: var(--primaryColor);
}

@media only screen and (max-width: 700px) {
  .navigation {
    width: 100%;
    left: -100%;
  }
}



.actionButtons {
  position: absolute;
  background: transparent;
  bottom: 80px;
  left: 30%;
  height: 240px;
  width: 100px;
  transform: translateX(-50%);
}

.arrowbtn {
  position: absolute;
  width: 100px;
  height: 100px;
  /* background: var(--dark); */
  background: transparent;
  border: 4px solid var(--primaryColor);
  border-radius: 100px;
  color: var(--primaryColor);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.arrowbtn:after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.arrowbtn-up:after {
  margin-left: -(25px * .5);
  margin-top: -(25px * .25);
  border-top: 4px solid;
  border-left: 4px solid;
}

.arrowbtn-down {
  bottom: 0px;
}

.arrowbtn-down:after {
  margin-left: -(25px * .5);
  margin-top: -(25px * .75);
  border-bottom: 4px solid;
  border-right: 4px solid;
}

.arrowbtn:hover {
  background: var(--primaryColor);
  /* border-color: var(--dark); */
  color: var(--dark);
}

.hide {
  display: none;
}


.lava {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.lava .blob {
  border-radius: 50%;
  background: var(--primaryColor);
  opacity: 0.4;
  position: absolute;
}

.lava .blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -15%;
  animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
}

.lava .blob:nth-child(2) {
  width: 330px;
  height: 330px;
  right: 24%;
  bottom: -65%;
  animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
}

.lava .blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 34%;
  animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
}

.lava .blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
}

.lava .blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
}

.lava .blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;
  animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
}

.lava .blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 34%;
  animation: wobble 10s ease-in-out alternate infinite, blob-six ease-in-out 12s infinite;
}

.lava .blob:nth-child(7) {
  width: 435px;
  height: 435px;
  bottom: -85%;
  right: 40%;
  animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
}

@keyframes blob-one {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-two {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-420%);
  }
}

@keyframes blob-three {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-305%);
  }
}

@keyframes blob-four {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-605%);
  }
}

@keyframes blob-five {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-six {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-seven {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-300%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }

  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}