@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
  --primaryColor: #CC6600;
  --white: #F8F8F8;
  --dark: #101010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: var(--dark);
  overflow: hidden;
}

.dark {
  background-color: var(--dark);
}

.white {
  background-color: var(--white);
}

.mainContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.leftContainer {
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.leftContainer .leftSide {
  height: 100%;
  width: 100%;
}

.rightContainer {
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  transition: all 0.5s ease-in-out;
}

.rightContainer .rightSide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}




/* @media only screen and (max-width: 1000px) {
  
} */