@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

:root {
  --primaryColor: #CC6600;
  --white: #F8F8F8;
  --dark: #101010;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: var(--dark);
  /* overflow: hidden; */
}

.dark {
  background-color: var(--dark);
}

.white {
  background-color: var(--white);
}


.mainContainer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

.left-slide {
  
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.left-slide>div {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #CC6600;
}

.right-slide {
  color: #CC6600;
  font-size: 38px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  transition: all 0.5s ease-in-out;
  
}

.right-slide>div {
  height: 100%;
  width: 100%;
  padding: 50px;
}






/* @media only screen and (max-width: 1000px) {
  
} */